html, body{
	height: 99%;
	width: 99%;
}

.player{
	position: absolute;
	background: black none repeat scroll 0% 0%;
	width: 30px;
	height: 30px;
	z-index: 1;
}


.shield {
	border: solid 2px yellow;
}
.slow{
	color: red;
}
.boost {
	color: #41BD45;
}
.bouclier {
	color: yellow;
}

.event{
    font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.shieldbloc {
	border: solid 2px yellow;
	background: orange;
	position: absolute;
	display: none;
}
#player2{
	background: purple none repeat scroll 0% 0%;
	
}
.projectile-Player1{
	position: absolute;
	background: black none repeat scroll 0% 0%;
}
.projectile-Player2{
	position: absolute;
	background: purple none repeat scroll 0% 0%;
}

#map{
	position:fixed;
	border: 2px solid black;
	margin: auto;
}

.food{
	background: blue;
	position: absolute;
	height: 5px;
	width: 5px;
	display: none;
}
.deathhead{
	background-image:url(deathhead.jpg);
	position: absolute;
	height: 8px;
	width: 8px;
	display: none;
	border: 1px solid black;
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.malus{
	background: red;
	position: absolute;
	height: 5px;
	width: 5px;
	display: none;
}
.bonus{
	background: #41BD45;
	position: absolute;
	height: 5px;
	width: 5px;
	display: none;
}
.scorediv{
	position: fixed;
	width: 90px;
	height: 90px;
	background-color: grey;
	opacity: 0.5;
	top: 30px;
	text-align: center;
	z-index: 2;
}
#score2{
	right: 30px;
}
#score1{
	left: 30px;
}
.score{
	text-align: center;
	opacity: 2.5;
	color: black;
}