html, body{
	height: 99%;
	width: 99%;
}

.player{
	position: absolute;
	background: black none repeat scroll 0% 0%;
	width: 30px;
	height: 30px;
}


.shield {
	border: solid 2px yellow;
}

.shieldbloc {
	border: solid 2px yellow;
	background: orange;
	position: absolute;
	display: none;
}
#player2{
	background: purple none repeat scroll 0% 0%;
	
}
.projectile-Player1{
	position: absolute;
	background: black none repeat scroll 0% 0%;
}
.projectile-Player2{
	position: absolute;
	background: purple none repeat scroll 0% 0%;
}

#map{
	position:fixed;
	border: 2px solid black;
	margin: auto;
}

.food{
	background: blue;
	position: absolute;
	height: 5px;
	width: 5px;
	display: none;
}
.malus{
	background: red;
	position: absolute;
	height: 5px;
	width: 5px;
	display: none;
}
.bonus{
	background: #41BD45;
	position: absolute;
	height: 5px;
	width: 5px;
	display: none;
}
.scorediv{
	position: fixed;
	width: 90px;
	height: 30px;
	background-color: black;
	opacity: 0.2;
}
.score{
	opacity: 1;
	color: black;
}